{% include "header.html" %}
    <h1>Product Details</h1>
    <form action="/addtocart" method="POST">
        <table>
            <tr><td>Code</td><td>{{ code }}</td></tr>
            <tr><td>Description</td><td> {{ product["name"]}} </td></tr>
            <tr><td>Price</td><td> {{ product["price"]}} </td></tr>
            
            {% if session["user"] is defined %}
                <tr>
                    <td>Quantity</td>
                    <td>
                        <input type="hidden" name="code" value="{{code}}">
                        <input type="number" name="quantity" min="1" step="1" pattern="\d*" value="1">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="Add to Cart">
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
    <a href="/products">Back</a>
{% include "footer.html" %}